.vs/
*.VC.db
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
Binaries/*
Plugins/*/Binaries/*
Build/*
Saved/*
Intermediate/*
Plugins/*/Intermediate/*
DerivedDataCache/*